.add-product-page {
  padding: 2rem;

  .product-list-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .no-products {
    font-size: 1.2rem;
    color: #888;
    text-align: center;
  }

  .product-list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
    width: 100%;
    // max-width: 960px;
    padding: 1rem;

    @media (min-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
